
.vs
.vscode
BUILDTEST
AppSorteioRXPremiadoV1/Build-PCSorteio13-09-2023
AppSorteioRXPremiadoV1/AndroidBuildAppSorteio
AppOperadorEndpointsV1/BuildLinux
RealXCapPainelBolasV1/BuildAndroid
RealXCapPainelBolasV1/BuildPC-PainelDeBolas
Library
Temp/
obj/
obj/Debug/
UserSettings/
UserSettings/Layouts/
Logs/
UserSettings/Layouts/default-2021.dwlt
*.dwlt
